# Dependencies
node_modules/

# Local Environment
.env
.DS_Store

# Backend & Database
# server.js (Now tracked for deployment)
# package-lock.json (Now tracked for deployment)
firebase-service-account.json
firebase-service-account.json.json

# Build leftovers
dist/
build/
